.todo-item {
  font-weight: 500;
  font-size: 1.8rem;
  padding-bottom: 3rem;

  display: flex;
  align-items: center;

  & > .icon > svg {
    vertical-align: middle;
    margin-right: 7px;
    font-size: 2.4rem;

    cursor: pointer;
  }

  & > .icon:last-child {
    margin-left: auto;

    & > svg {
      opacity: 0.5;
      transition: opacity 300ms ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  & > .text {
    vertical-align: middle;
  }
}
