@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

input {
  font-size: 14px !important;
}

button {
  font-size: 14px !important;
  font-weight: 600 !important;
}
