@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: normal;
}

a {
  text-decoration: none;
}

.container {
  max-width: 65rem;

  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

/* HOMEPAGE */
.todo-main {
}

.todo-title {
  font-family: 'Raleway', sans-serif;
  font-size: 3.6rem;
  color: #333;

  text-align: center;
  letter-spacing: -0.045em;
}
